*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root{
   --bg-principal: #006B3E;
   --bg-secundario: #F37435;
   --bg-branco: #ffffff;
   --bg-preto: #000000;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-preto);
}
.wrapper{
    position: relative;
    width: 700px;
    height: 450px;
    background: transparent;
    border: 2px solid var(--bg-secundario);
    box-shadow: 0 0 25px var(--bg-secundario);
    overflow: hidden;
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.login .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .form-box.register{
    right: 0;
    padding: 0 40px 0 60px;
}

.wrapper.active .form-box.register{
    pointer-events: auto;
}

.wrapper .form-box.register .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.form-box h2{
    font-size: 32px;
    color: var(--bg-branco);
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid var(--bg-branco);
    padding-right: 23px;
    font-size: 16px;
    color: var(--bg-secundario);
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color: var(--bg-branco);
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--bg-branco);
    pointer-events: none;
    transition:  .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: var(--bg-branco);
}

.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--bg-branco);
    transition: .5s;
}


.input-box input:focus~i,
.input-box input:valid~i{
    color: var(--bg-branco);
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid var(--bg-secundario);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: var(--bg-branco);
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(var(--bg-secundario), #ffbf9f, var(--bg-secundario), var(--bg-branco));
    z-index: -1;
    transition: .5s;
}
.btn:hover::before{
    top: 0;
}

.form-box .logreg-link{
    font-size: 14px;
    color: var(--bg-branco);
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a{
    color: var(--bg-secundario);
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover{
    text-decoration: underline;
}

/* TEXTO DO LADO DO LOGIN */

.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 100px;
}

.wrapper .info-text.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.login .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text.register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.wrapper.active .info-text.register{
    pointer-events: auto;
}

.wrapper .info-text.register .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.info-text h2{
    font-size: 36px;
    color: var(--bg-branco);
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p{
    font-size: 16px;
    color: var(--bg-branco);
}

.wrapper .bg-animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, var(--bg-secundario), var(--bg-secundario),#ffbf9f);
    border-bottom: 3px solid var(--bg-secundario);
    transform: rotate(10deg) skewY(42deg);
    transform-origin: bottom right;
    transition: 1.5s ease-in-out;
    transition-delay: 1.6s;
}

.wrapper.active .bg-animate{
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}